@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


*{
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  text-decoration: none !important;
}

body{
  color: #ffffff;
  background-color: #1A1A2E;
}